# 전부 무시
*

# 올릴 파일만 예외로 허용
!.gitignore
!benefits.json.gz
!daily_quote.json
!benefit_news.json.gz
!coupang_links.json.gz
!lh_notice_sync.json.gz
!lh_detail.json.gz
!lh_detail_info.json.gz
!lh_full.json.gz

# OS/에디터 캐시 무시
.DS_Store
Thumbs.db
